* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: dashed white 1px; */
}
section > div {
  padding: 40px 20px;
}
/* body */
body {
  background: hsl(218, 28%, 13%);
  font-family: "Raleway", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-align: center;
}
/* links */
a {
  text-decoration: none;
  color: white;
}
a:active {
  color: white;
  text-decoration: underline;
}
/* flex container of everything */
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
/* navigation bar */
header {
  background: hsl(217, 28%, 15%);
}
header > nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
/* website logo */
header .logo {
  width: 80%;
  text-align: start;
}
header .logo > img {
  width: 70px;
  height: auto;
  flex-grow: 30%;
}
/* navigation links */
header .nav-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
header .nav-links > a {
  font-size: 12px;
}
/* CTA1 in header */
.cta1 {
  background-color: hsl(217, 28%, 15%);
  padding: 0;
  position: relative;
}
.cta1 > * {
  z-index: 1;
}
.cta1-svg {
  position: absolute;
  bottom: 0;
  z-index: 0;
  height: 300px;
  width: 100%;
}
/* cta1 and cta2 images */
.cta1 .gets-image > img,
.cta2 div > img {
  width: 100%;
  height: auto;
}
/* cta1 description */
.cta1 .gets-description {
  margin-top: 10px;
}
/* cta1 heading */
.cta1 .gets-description > h1 {
  margin: 15px 0;
}
/* cta1 and cta3 button */
button,
input {
  font-size: 16px;
  color: white;
  font-weight: 700;
  width: 250px;
  margin-top: 15px;
  padding: 10px 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: none;
  background-color: hsl(198, 60%, 50%);
}
/* cta1 active */
button:active {
  background-color: hsl(176, 68%, 64%);
}
/* services rendered */
.cta1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.services-container div {
  margin: 35px 0;
}
/* first services rendered */
.services-container div:first-child {
  margin: 0;
}
/* services rendered images */
.services-container img {
  padding: 35px;
  height: 150px;
  width: auto;
}
/* services and cta2 rendered headings*/
h3 {
  padding-bottom: 12px;
}
/* cta2 */
.cta2 div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
/* cta2 body */
.cta2 p {
  padding: 10px 0;
  text-align: start;
}
/* cta2 link */
.cta2-link {
  color: hsl(176, 68%, 64%);
  text-decoration: underline;

/* review section */
.user-reviews {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 12px;
}
/* review quote */
.user-reviews > img {
  width: 30px;
  height: auto;
  text-align: start;
}
/* user review */
.review-card {
  padding: 15px;
  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 25px;
}
/* review body */
.review-card p,
.review-card div {
  padding: 6px 0;
  text-align: start;
}
/* review user details */
.user-review-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* user photo */
.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.user-name-position {
  margin-left: 10px;
}
.user-name,
.user-location {
  line-height: 5px;
}
.user-name {
  font-weight: 700;
}

/* cta3  */
.cta3 {
  height: 200px;
}
/* cta3 container */
.cta3 > div {
  box-shadow: 5px 5px 10px  hsl(216, 53%, 9%);
  margin: 40px 15px;
  position: absolute;
  top: -170px;
  left: 0;
  background-color: hsl(217, 28%, 15%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 40px 20px;
  text-align: center;
}
/* cta3 pbody */
.cta3 p {
  padding: 10px 0;
}
/* cta3 input email and button */
.cta3 .sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* cta3 input email */
.cta3 input {
  background-color: white;
  padding-left: 15px;
  font-size: 12px;
  line-height: 18px;
  color: gray;
  font-weight: 100;
}
/* cta3 input email invalid state */
.cta3 input:invalid {
  border: solid hsl(0, 100%, 63%) 3px;
}
/* footer */
footer {
  background-color: hsl(216, 53%, 9%);
  text-align: start;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* footer logo*/
footer > div > img {
  padding-left: 30px;
}

.footer-contents {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* border: dashed 1px white; */
}
.footer-contents > div {
  padding: 20px 10px;
}
/* contacts space */
.contact-us {
  display: flex;
  flex-direction: column;
}
/* location */
.contact-us > div {
  display: flex;
  flex-direction: row;
}
.contact-us > div > div {
  padding: 20px 0;
}
.phone {
  padding: 20px 0;
}
/* contact logo */
.location > p:first-child,
.phone-mail img {
  padding-right: 10px;
  width: 20px;
  height: auto;
}
/* location logo over riding the size above*/
.location img {
  width: 10px;
  height: auto;
}
/* the links of about us. privacy, policy */
.about-us > a,
.privacy-policy > a {
  display: block;
  padding: 10px 0;
}
/* their active state */
.about-us > a:active,
.privacy-policy > a:active {
  font-size: 16px;
  border: solid;
}
/* ythe website social media links */
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.social-links > a {
  width: 25px;
  height: 25px;
  margin: 0 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: solid white 2px;
  padding: 1px;
  text-align: center;
}
/* social media active state */
.social-links > a:active {
  color: hsl(176, 68%, 64%);
  border-color: hsl(176, 68%, 64%);
}
/* attribuion */
.attribution {
  display: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  padding: 10px;
}
.attribution a {
  color: hsl(198, 60%, 50%);
}

/* media query */
@media screen and (min-width: 768px) {
  /* all sections */
  section > div {
    padding: 40px 15vw;
  }
  /* nav bar */
  header > nav {
    padding: 10px 30px;
  }
  /* website logo */
  header .logo {
    width: 100%;
    flex-grow: 8;
  }
  /* navigation links */
  header .nav-links {
    flex-grow: 2;
    justify-content: flex-end;
  }
  header .nav-links > a {
    padding: 0 20px;
  }
  /* services rendered */
  .services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* each services rendered div */
  .services-container > div {
    flex-grow: 50%;
    width: 50%;
    margin: 0;
    padding: 20px;
  }
  /* cta2 */
  .cta2>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: start;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .cta2 div>div{
    width: 50%;
    padding: 0 20px;
  }
  .cta2>div>div> img{
    height: 300px;
    width: auto;
  }
  /* reviews */
  .reviews>div{
    padding: 40px 5vw;
  }
  .user-reviews{
    flex-direction: row;
    position: relative;
  }
  /* quotation mark */
  .user-reviews> img{
    position: absolute;
    z-index: -4;
    top: -10px;
    left: 30px;
  }
  /* user review */
  .review-card{
    margin: 10px;
    line-height: 15px;
  }
  /* subscribe card */
  .cta3>div{
    width: 80%;
    left: calc(20%/2.5);
    padding-left: 50px;
    padding-right: 50px;
  }
  input{
    width: 40%;
    margin: 20px 20px 0;
  }
  input{
    width: 50%;
  }
  .subscribe-button{
    width: 20%;
  }
  label{
    display: none;
  }
  /* footer */
  .footer-contents{
    flex-direction: row;

  }
  /* all the contacts in one div */
  .contact-us{
    flex-direction: row;
    width: calc(100vw /3);
    flex-grow:7;justify-content: stretch;
    margin-top: 10px;
  }
  .contact-us>div>div{
    padding: 0;
  }
  /* phone and emal div */
  .phone-mail{
    margin: 0 40px;
    width: 600px;
    align-self: flex-start;
    padding-top: 0;
  }
  /* contact phone number */
  .phone{
    padding: 0 0 20px;
  }
  /* about us part */
  .about-us{
    flex-grow:2;
  }
  /* privacy and policy part */
  .privacy-policy{
    flex-grow:2;
  }
  /* social media links part */
  .social-links{
    align-self: flex-start;
    flex-grow:2;
    margin: 10px;
  }
}
